:root {
  /* цвет */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-hover: #188ce8;
  --primary-background-color: #ffffff;
  --second-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --footer-mail-color: rgba(255, 255, 255, 0.6);

  /* шрифты */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  /* геометрия */
  --card-set-gap: 30px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--main-font);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* сброс margin и некоторых стилей*/
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

/* общие параметры контейнеров и секций*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* шапка сайта */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-biginer {
  color: var(--accent-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav .contact {
  display: block;

  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
}
.contacts-nav .contact:hover,
.contacts-nav .contact:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero {
  width: 1600px;
  height: 600px;

  background-color: #C4C4C4;

  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
   ),
  url(../images/hero.jpg);
}

.hero-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--primary-background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}



/* batton */
.hero-button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero-button:hover {
  color: var(--primary-background-color);
  background-color: var(--accent-button-hover);
  cursor: pointer;
}

/* секции */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* секция особенностей */

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .item::before {
  content: '';
  display: block;
  height: 120px;
  outline: 1px solid red;
  /* background-size: 65.32px 70px; */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.icon-antenna::before {
  background-image: url(../images/Vector.svg);
  background-size: 65.32px 70px;
}

.icon-clock::before {
  background-image: url();
}

.icon-display::before {
  background-image: url();
}

.icon-astronaut::before {
  background-image: url();
}

.feature-list .title {
  margin-bottom: 10px;

  text-transform: uppercase;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}
.feature-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* секция: чем занимаемся */
section.activity.section {
  padding-top: 0;
}

.activity .list {
  display: flex;
}

.activity-list .item:not(:last-child) {
  margin-right: 30px;
}

.activity .section-title {
  margin-bottom: 50px;
}

/* секция: команда */

.section.team.section {
  background-color: var(--team-background-color);
}
.team .section-title {
  margin-bottom: 50px;
}

.team .list {
  display: flex;
}

.team-list > .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }

.team-list > .item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card-content {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
  text-align: center;

  background-color: #ffffff;
}

/* футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}

/* .footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.footer-logo {
  margin-bottom: 20px;

  color: var(--primary-background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-biginer {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;

  color: var(--primary-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: inherit;
}

.footer-list .contact {
  color: var(--footer-mail-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list .contact:hover,
.footer-list .contact:focus {
  color: var(--accent-color);
}

.footer-list .item:first-child {
  margin-bottom: 9px;
}

/* стили для портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  font-family: inherit;
}

.portfolio .container {
  width: 1200px;
}

.filter.list {
  display: flex;
  margin-bottom: 34px;

  justify-content: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.projects.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - var(--card-set-gap));

  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.project-item {
  width: 370px;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  border-bottom: 1px solid #eeeeee;
}

.project-content {
  border: 1px solid #eeeeee;
  border-top: none;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #ffffff;
}

/* .project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.project-item-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-item-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
